{% extends 'home.html.twig' %}
   {% block css %} <link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}"/>{% endblock css %}
    {% block title %}<title>Tableau de bord</title>{% endblock %}
  </head>

<body id="body">
  
{% block header %}  
<header class="header"> 
  <nav class="nav">
    <h1  class="titre"> Bienvenue </h1>
      <ul class="menu-items">
        <li><a href="{{ path ('home') }}">Acceuil</a></li>
        <li><a href="{{ path ('login') }}">Admin</a></li>
        <li><a href="{{ path ('login') }}">Connection</a></li>
        <li><a href="{{ path ('logout') }}">Deconnection</a></li>
      </ul>
  </nav>
  </header>
{% endblock header %}
{#% block body %}{% endblock body %} 
{% block form %} {% endblock form %#} 

{% block login %} 
<h1 class="login-h1"> Merci de vous authentifier </h1>
   <form class="form-login" action="{{ path ('login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password"/>

        {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"/> #}

        <button type="submit">login</button>
    </form>
{% endblock %}   



  <!-- Dans le body on a les résultats recherche de partenaires-->
{#% block body %   {#% endblock body %} 
        
     
  
            
{% block main %} {% endblock main %}
      
          

<!--Dans le block login on a le formulaire d'authentification-->       


{% block footer %}        {% endblock footer %#} 
<footer> </footer>
 </body> 
 </html>
          
         
             

            
              

            
                
          
                 

            
              

              

                

                

                
            
<!--debut sidebar-->
     
        
           

       
          
          
          
            
          
          
          
      
    

    
    
    

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="{{ asset ('assets/javascript/app.js') }}"></script>
  </body>
</html>
 
