{% extends 'home.html.twig' %}
{% block title %}<title>Inscription</title>{% endblock title %}
   {% block css %} <link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}"/>{% endblock css %}



{% block register %}
<div class="my-custom-class-for-errors">
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    </div>

    <h1>Inscription</h1>

    {{ form_start(registrationForm) }}
<div id="container-register"class="col form-control">
    <div id="register-email"class="row form-label ">
           {{ form_row(registrationForm.email) }}
    </div>
    <div class="col form-label"  id="register-password">
            {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
    </div>
    <div class="col form-label" id="register_agree_terms">
            {{ form_row(registrationForm.agreeTerms) }}
            
    </div>
     <div class="col form-label" id="register_category">
            {{ form_row(registrationForm.categorie) }}
            
    </div>
    <div class="col form-label" type="button" class="btn btn-outline-success" id="register-button">
                <button type="submit" class="btn"></button>
            {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock register %}
