
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

		{% block css %}
			<link rel="stylesheet" href="{{ asset ("assets/css/style.css") }}"/>
		{% endblock css %}
		{% block title %}
			<title>
				Tableau de bord
			</title>
		{% endblock %}
	</head>

	<!-- Fonts -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
</html></head><body id="body">


<div class="container">
	<nav class="navbar">
		<div class="nav_icon" onclick="toggleSidebar()">
			<i class="fa fa-bars" aria-hidden="true"></i>
		</div>
		<div class="navbar__left"> 
		{% block acceuil %}{% endblock acceuil %}
			</div>
			
	<!--Moteur de recherche de structure et de partenaires-->
			<div class="navbar__right">
				

							<form class="d-flex" action="{{ path ('admin_resultats')}}">
					<input id="search-resultat"class=" form-control me-sm-2" type="text" placeholder="Rechercher" name="search">
					<div>
						<div id="result">
							
						</div>
					</div>
					<button class="btn btn-secondary my-2 my-sm-0" type="submit">
						<i class="fa fa-search" aria-hidden="true"></i>
					</button>
				</form>
	   
			</div>
			
		</nav>
		<!--contenu-->
		<main>
			<div class="flash">{% block flash %}
				{% endblock flash %}</div>
			

				<!-- Message de bienvenue personnalisé -->
				<div class="main__title">
					
					<div
						class="main__greeting">
						<!--block header avec titre des pages-->
						{% block header %}
						{% endblock header %}


					</div>
				</div>


				
			
							
								
				


				{% block body %}
				{% endblock body %}
					
				</main>
<aside id="sidebar">
				<!--début sidebar -->
				
					<div class="sidebar__title">
						<div class="sidebar__img">
							
							<h1></h1>
						</div>
						<i onclick="closeSidebar()" class="fa fa-times" id="sidebarIcon" aria-hidden="true"></i>
					</div>

					<div class="sidebar__menu">
						<div class="sidebar__link active_menu_link">
							<i class="fa fa-home"></i>
							<a href="#">
								Tableau de bord
							</a>
						</div>
						<h2></h2>
						<div class="sidebar__link">
							<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
							<a href="{{ path ('admin_home') }}">
								Acceuil
							</a>
						</div>
						<div class="sidebar__link">
							<i class="fa fa-user-o"></i>
							<a href="{{ path ('admin_users')}}">
								Gestion des utilisateurs
							</a>
						</div>
						<div class="sidebar__link">
							<i class="fa fa-handshake-o"></i>
							<a href="{{ path ('admin_partenaires') }}">
								Gestion des partenaires
							</a>
						</div>
						<div class="sidebar__link">
							<i class="fa fa-bicycle"></i>
							<a href="{{ path ('admin_structures') }}">
								Gestion des structures
							</a>
						</div>
						<div class="sidebar__link">
							<i class="fa fa-superpowers"></i>
							<a href="{{ path ('admin_permissions') }}">
								Gestion des permissions
							</a>
						</div>


						<div class="sidebar__logout">
							<i class="fa fa-power-off"></i>
							<a href="{{ path ('logout')}}">
								Déconnection
							</a>
						</div>
					</div>
				</div>
			
		</aside>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
			<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
			<script src="{{ asset ('assets/javascript/app.js') }}"></script>
			
			
			
			
			<!--<script>
			//					$(document).ready(function(){
			//						$('#search-resultat').keyup(function(){
			//							console.log('jquery marche ?')
			//							var search = $(this).val();
			//							
			//							if(search != ""){
			//								$.ajax({
			//									type:"GET",
			//									url:"resultats",
			//									data: 'resultats =' + encodeURIComponent(search),
			//									success: function(data){
			//										if( data != ""){
			//											$('#search-resultat').append(data)
			//										}
			//										else{
			//											document.getElementById('search-resultat').innerText = 
			//											/*a stylyser pour bien voir*/
			//											"aucun résultat a afficher "
			//										}
			//									}
			//								})
			//							}
			//						})
			//						
			//					});
			//				
			//			
			//		</script-->
			


		</body>
	</html>
	<!--footer>
		<p class="text-center">Mentions légales - 2021-2022</p>
		<ul>
			<i><svg class="twittericon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"/></svg>Twitter</i>
			<li><svg class="fbicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"/></svg> Facebook</li>
			<li> <svg class="instaicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224,202.66A53.34,53.34,0,1,0,277.36,256,53.38,53.38,0,0,0,224,202.66Zm124.71-41a54,54,0,0,0-30.41-30.41c-21-8.29-71-6.43-94.3-6.43s-73.25-1.93-94.31,6.43a54,54,0,0,0-30.41,30.41c-8.28,21-6.43,71.05-6.43,94.33S91,329.26,99.32,350.33a54,54,0,0,0,30.41,30.41c21,8.29,71,6.43,94.31,6.43s73.24,1.93,94.3-6.43a54,54,0,0,0,30.41-30.41c8.35-21,6.43-71.05,6.43-94.33S357.1,182.74,348.75,161.67ZM224,338a82,82,0,1,1,82-82A81.9,81.9,0,0,1,224,338Zm85.38-148.3a19.14,19.14,0,1,1,19.13-19.14A19.1,19.1,0,0,1,309.42,189.74ZM400,32H48A48,48,0,0,0,0,80V432a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V80A48,48,0,0,0,400,32ZM382.88,322c-1.29,25.63-7.14,48.34-25.85,67s-41.4,24.63-67,25.85c-26.41,1.49-105.59,1.49-132,0-25.63-1.29-48.26-7.15-67-25.85s-24.63-41.42-25.85-67c-1.49-26.42-1.49-105.61,0-132,1.29-25.63,7.07-48.34,25.85-67s41.47-24.56,67-25.78c26.41-1.49,105.59-1.49,132,0,25.63,1.29,48.33,7.15,67,25.85s24.63,41.42,25.85,67.05C384.37,216.44,384.37,295.56,382.88,322Z"/></svg>Instagram</li>
		</ul>
		
	</footer-->
</body>
