<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

		{% block css %}
			<link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}"/>
		{% endblock %}
		{% block title %}
			<title>
				Tableau de bord
			</title>
		{% endblock %}
	</head>

	<!-- Fonts -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
</html></head><body id="body">


<div class="container">
	<nav class="navbar">
		<div class="nav_icon" onclick="toggleSidebar()">
			<i class="fa fa-bars" aria-hidden="true"></i>
		</div>
		<div class="navbar__left"> 
		{% block acceuil %}{% endblock acceuil %}
			</div>
	<!--Moteur de recherche de structure et de partenaires-->
			<div class="navbar__right">
				<form class="d-flex" action="{{ path ('resultat')}} ">
					<input class="form-control me-sm-2" type="text" placeholder="Rechercher" name="search">
					<button class="btn btn-secondary my-2 my-sm-0" type="submit">
						Rechercher
					</button>
				</form>
	   
			</div>
		</nav>
		<!--contenu-->
		<main>
			<div
				class="main__container">

				<!-- Message de bienvenue personnalisé -->
				<div class="main__title">
					<img src="assets/hello.svg" alt=""/>
					<div
						class="main__greeting">
						<!--block header avec titre des pages-->
						{% block header %}
						{% endblock header %}


					</div>
				</div>

{% block flash %}
{% endblock flash %}
				<!-- Block de mini carte en haut-->
				<div class="main__cards">
					<div class="card">

						<div class="card_inner">
							<p
								class="text-primary-p">
								<!--bouton qui envoie la liste des partenaires-->
								{% block buttonpartenaires %}
								{% endblock buttonpartenaires %}
							</p>

							<span class="font-bold text-title"></span>
						</div>
					</div>
					<!--bouton qui envoie la liste des structures-->
					<div class="card">
						<div class="card_inner"> {% block buttonstructures %}{% endblock buttonstructures %}
							<span class="font-bold text-title"></span>
						</div>
					</div>


				</div>


				<!-- grande carte de gauche -->
				<div class="charts">
					<div class="charts__left">
						<div class="charts__left__title">
							<div>
							
								{% block body %}
								
								
								{% endblock body %}
								{% block permissions %}
								{% endblock permissions %}
							</div>

						</div>

					</div>
					
				</main>

				<!--début sidebar -->
				<div id="sidebar">
					<div class="sidebar__title">
						<div class="sidebar__img">
							<img src="assets/logo.png" alt="logo"/>
							<h1></h1>
						</div>
						<i onclick="closeSidebar()" class="fa fa-times" id="sidebarIcon" aria-hidden="true"></i>
					</div>

					<div class="sidebar__menu">
						<div class="sidebar__link active_menu_link">
							<i class="fa fa-home"></i>
							<a href="#">
								Tableau de bord
							</a>
						</div>
						<h2></h2>
						<div class="sidebar__link">
							<i class="fa fa-user-secret" aria-hidden="true"></i>
							<a href="{{ path ('admin_home') }}">
								Acceuil
							</a>
						</div>
						<div class="sidebar__link">
							<i class="fa fa-handshake-o"></i>
							<a href="{{ path ('admin_partenaires') }}">
								Gestion des partenaires
							</a>
						</div>
						<div class="sidebar__link">
							<i class="fa fa-bicycle"></i>
							<a href="{{ path ('admin_structures') }}">
								Gestion des structures
							</a>
						</div>
						<div class="sidebar__link">
							<i class="fa fa-bicycle"></i>
							<a href="{{ path ('admin_permissions') }}">
								Gestion des permissions
							</a>
						</div>


						<div class="sidebar__logout">
							<i class="fa fa-power-off"></i>
							<a href="{{ path ('logout')}}">
								Log out
							</a>
						</div>
					</div>
				</div>
			</div>

			<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
			<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
			<script src="assets/javascript/app.js"></script>


		</body>
	</html>
</body>
