{% extends 'home.html.twig' %}
   {% block css %} <link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}"/>{% endblock  %}
    {% block title %}<title>Admin Tableau de bord</title>{% endblock %}
  
  
{% block header %}{% endblock %}
{% block menu %}
    <header class"admin_header">
      <h1 class="title_admin"> ESPACE ADMINISTRATION </h1>
    
  
  
</header>
{% endblock  %}

 

{% block body %}
<div class="admin-menu"><h2 id="admin_bienvenue"><h1 id="bonjour"> Bonjour {{app.user.email}} </h2>
      <ul class="menu-items">
        
        <li><a href="{{ path ('admin_partenaires') }}">Gestion des partenaires</a></li>
        <li><a href="{{ path ('admin_structures') }}">Gestion des structures</a></li>
        
      </ul>
</div>
{% endblock body %}


    {% block depart %} 
    <a href="{{ path ("login") }}" id="depart"> lien </a>
    {% endblock depart %} 
        
{% block form %}
{#% for message in app.flashes ('success') %}
        <div> {{ message }}</div>
        {% endfor %#}
{% endblock form %}

{% block login %} 
<h1 id="login-h1"> Merci de vous authentifier </h1>
   <form id="form-login" action="{{ path ('login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password"/>

        {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"/> #}

        <button type="submit">login</button>
    </form>
{% endblock login %}


          
         
             

            
              

            
                
          
                 

            
              

              

                

                

                
            

     
        
           

       
          
          
          
            
          
          
          
      
    

    
    
    

    