{% extends 'base.html.twig' %}
   {% block css %} <link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}"/>{% endblock  %}
    {% block title %}<title>Admin Tableau de bord</title>{% endblock %}
  
  
{% block header %}{% endblock header %}
{% block menu %}
    
{% endblock menu %}

 

{% block acceuil %}
<div class="admin-menu"><h2  id="bonjour"> Bonjour {{app.user.email}} </h2></div>
{% endblock acceuil %}

{% block searchstructures %}
<div class="navbar__right"> 
<form class="d-flex" action="{{path ('resultat')}}">
        <input class="form-control me-sm-2" type="text" placeholder="Rechercher une structure" name="search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
       </form>
</div>
{% endblock searchstructures %}
{% block searchpartenaires %}
<div class="navbar__right">  
    <form class="d-flex" action="{{ path ('resultat') }}">
        <input class="form-control me-sm-2" type="text" placeholder="Rechercher un partenaire" name="search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">
           Rechercher</i>
          </button>
    </form>
    </div>
{% endblock searchpartenaires %}

{% block login %} 
<h1 id="login-h1"> Merci de vous authentifier </h1>
   <form id="form-login" action="{{ path ('login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password"/>

        {# If you want to control the URL the user is redirected to on success#}
        <input type="visibile" name="_target_path" value="/admin/home"/> 

        <button type="submit">login</button>
    </form>
{% endblock login %}

{% block partenaires %}
<div id="zone_partenaires">
    {% for partenaires in partenaires %}
    
    <h2 id="titre_partenaire">Nom: {{ partenaires.name }}</h2>  
    <h3 id="id_partenaire">Id: {{ partenaires.id }}</h3>
        
       
        {#<button type="submit" name"modifier_partenaires" id="modifier_partenaires"><a href="{{ path ("admin_partenaire_update")}}"> Modifier partenaire</a></button>#}
        <button type="submit" name"activer_partenaires" id="activer_partenaires">Activier partenaire</button>
        <button type="submit" name"voir_partenaires" id="voir_partenaires"><a href="{{ path ('partenaire', {'id': partenaires.id}) }}" > Voir le partenaire sur le site </a></button>     
        <button type="submit" name"supprimer_partenaires"id="supprimer_partenaires"><a href="{{ path ('admin_partenaires_delete', {'id': partenaires.id} ) }} " > Supprimer </a></button>
        {% endfor %}

</div>
{% endblock partenaires %}

{% block permissions %}   
    <div id="zone_permissions">
    {% for permissions in permissions %}
    
    <h1 id="titre_permissions">Nom: {{ permissions.name }}</h1>  
    
        <H2 id="activite_permissions"> Activité: {{ permissions.activité }}</h2>
       
        {#<button type="submit" name"modifier_partenaires" id="modifier_partenaires"><a href="{{ path ("admin_partenaire_update")}}"> Modifier partenaire</a></button>#}
        
        
        {% endfor %}

</div>
{% endblock permissions %}



          