{% extends 'admin/base.html.twig' %}
  {% block title %}<title>Interface de gestion de partenaires</title>{% endblock title %}
 {% block css %} <link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}"/>{% endblock css %}
 
 {% block header %}
 <header class="header">
        <nav class="menu">
            <ul class="menu-items">
                <li> Bonjour {{app.user.email}}</li>
            </ul>
        </nav>
    </header>     
{% endblock header %}
    {% block body %}
    
    <div> <a href=""> Creer un partenaire </a></div>






   
    
     
    
    <h1>Administrer les partenaires</h1>
    
    {% for partenaires in partenaires %}
    
    <h2>Nom: {{ partenaires.name }}</h2>  
    <h3>Id: {{ partenaires.id }}</h3>
        <H4> Login: {{ partenaires.login }}</h4>
       
        <button type="submit" name"modifier_partenaires">Modifier partenaire</button>
        <button type="submit" name"activer_partenaires">Activier partenaire</button>
        <button type="submit" name"voir_partenaires"><a href="{{ path ('partenaire', {'id': partenaires.id}) }}" > Voir le partenaire sur le site </a></button>     
        <button type="submit" name"supprimer_partenaires"><a href="{{ path ('admin_partenaires_delete') }}" > Supprimer </a></button>
        {% endfor %}
   {% endblock body %}