{% extends 'admin/base.html.twig' %}
{% block title %}
	<title>
		partenaire
	</title>
{% endblock title %}
{% block css %}
	<link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}"/>
{% endblock css %}


{#button pour avoir la listes des partenaires#}
{% block buttonpartenaires %}
	<button class="btn btn-dark" type="btn">
		<a href="{{ path ('admin_partenaires') }}">
			Partenaires
		</a>
	</button>
{% endblock buttonpartenaires %}
{#button pour avoir la listes des structures#}
{% block buttonstructures %}
	<button class="btn btn-dark" type="btn">
		<a href="{{ path ('admin_structures') }}">
			Structures
		</a>
	</button>
{% endblock buttonstructures %}

{% block flash %}

{% for message in app.flashes('success') %}
{{message}}
{% endfor %}

{% endblock flash %}
{% block body %}

{% for partenaire in partenaire %}

	<h1 class="text-capitalize">
		{{ partenaire.name }}
	</h1>
	<h2 class="text-capitalize">
		{{ partenaire.id }}
	</h2>


	
		<button class="btn btn-dark" type="submit" name"modifier_partenaire">
			Modifier partenaire
		</button>
		<button class="btn btn-dark" type="submit" name"activer_partenaire">
			Activier partenaire
		</button>
	
{% endfor %}

{% endblock body %} 
