{% extends 'admin/base.html.twig' %}
{% block title %}
	<title>
		Interface de gestion des permissions par défaut
	</title>
{% endblock title %}
{% block css %}
	<link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}"/>
{% endblock css %}

{% block header %}
	<header id="header">

		<h1 id="titre_admin_permissions">
			Administrer les permissions
		</h1>

	</header>
{% endblock header %}

{% block flash %}
{% for message in app.flashes('success') %}
{{message}}
{% endfor %}
{% endblock flash %}

{% block buttonpartenaires %}
	<button class="btn btn-dark" type="btn">
		<a href="{{ path ('admin_partenaires') }}">
			Partenaires
		</a>
	</button>
{% endblock buttonpartenaires %}

{% block buttonstructures %}
	<button class="btn btn-dark" type="btn">
		<a href="{{ path ('admin_structures') }}">
			Structures
		</a>
	</button>
{% endblock buttonstructures %}

{% block body %}   
<main id="form_update_permissions">
		<div id="modif_permissions" class="form-control">{{ form(form) }}</div>
		</main>

        {% endblock body %}

