{% extends 'admin/base.html.twig' %}
{% block title %}
	<title>
		Interface de gestion des permissions par défaut
	</title>
{% endblock title %}
{% block css %}
	<link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}"/>
{% endblock css %}

{% block header %}
	<header id="header">

		<h1 id="titre_admin_permissions">
			Administrer les permissions
		</h1>

	</header>
{% endblock header %}
{% block buttonpartenaires %}
	<button class="btn btn-dark" type="btn">
		<a href="{{ path ('admin_partenaires') }}">
			Partenaires
		</a>
	</button>
{% endblock buttonpartenaires %}

{% block buttonstructures %}
	<button class="btn btn-dark" type="btn">
		<a href="{{ path ('admin_structures') }}">
			Structures
		</a>
	</button>
{% endblock buttonstructures %}

{% block body %}   
 
    
    
   {% for permissions in permissions %}
    
    <form action" {{ path ("admin_permission_edit", {'id': permissions.id}) }} " method="get"  >
    

        <h2 class="mt-3 ">{{permissions.name}}</h2>
  
  
        <H4 class=""id="description_permissions"> Decritption: {{ permissions.description }}</h4>
		<a class="btn btn-primary mt-3" href=" {{ path ('admin_permission_edit',{'id': permissions.id}) }} ">Editer/Activer</a> 
</form>		


 {% endfor %} 
 
 
 
 

{% endblock body %}






