{% extends 'admin/base.html.twig' %}
{% block title %}
	<title>
		Interface de gestion des permissions par défaut
	</title>
{% endblock title %}
{% block css %}
	<link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}"/>
{% endblock css %}

{% block header %}
	<header id="header">

		<h1 id="titre_admin_partenaires">
			Administrer les permissions
		</h1>

	</header>
{% endblock header %}
{% block body %}   
 
    
    {% for permissions in permissions %}
    
    <form action" {{ path ("permissionsForm") }}" method="post" class="form-check form-switch">
    

        <label>{{permissions.name}}</label>
        {{ permissions.activite }}
        <input  name="permissions[]" checked class="form-check-input" id="buttonCheck" type="checkbox"></input> 
        <H4 class="mt-3 "id="description_permissions"> Decritption: {{ permissions.description }}</h4>
		
        
        
        
 {% endfor %} 
 <input class="btn btn-primary"type="submit">      
</form>

{#Formulaire de permissions
   {{ form_start(form) }}
<div id="container-permissions"class="col form-control">
    <div id="permissions_name"class="row form-label ">
           {{ form_row(permissions.name) }}
    </div>
    <div class="col form-label"  id="register-password">
            {{ form_row(permissions.activite, {
            label: 'Actif'
        }) }}
    </div>
    
            
    </div>
    <div class="col form-label" type="button" class="btn btn-outline-success" id="register-button">
                <button type="submit" class="btn"></button>
            {{ form_end(form) }}
    </div>
</div>#}
{% endblock body %}



{% block buttonpartenaires %}
	<button class="btn btn-dark" type="btn">
		<a href="{{ path ('admin_partenaires') }}">
			Partenaires
		</a>
	</button>
{% endblock buttonpartenaires %}

{% block buttonstructures %}
	<button class="btn btn-dark" type="btn">
		<a href="{{ path ('admin_structures') }}">
			Structures
		</a>
	</button>
{% endblock buttonstructures %}



