{% extends 'admin/base.html.twig' %}
{% block css %}
	<link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}"/>
{% endblock  %}
{% block title %}
	<title>
		Résultat de recherche structure
	</title>
{% endblock %}


{% block header %}
	<h1>
		Résultats de votre recherche
	{% endblock header %}

	{#button pour avoir la listes des partenaires#}
	{% block buttonpartenaires %}
		<button class="btn btn-dark" type="btn">
			<a href="{{ path ('admin_partenaires') }}">
				Partenaires
			</a>
		</button>
	{% endblock buttonpartenaires %}
	{#button pour avoir la listes des structures#}
	{% block buttonstructures %}
		<button class="btn btn-dark" type="btn">
			<a href="{{ path ('admin_structures') }}">
				Structures
			</a>
		</button>
	{% endblock buttonstructures %}


	{% block body %}
	
		{% for structure in structure %}

			<h2>
				Nom:
				{{ structure.name }}
			</h2>
			<h3>
				Id:
				{{ structure.id }}
			</h3>


			<button class="btn btn-dark mt-4" type="submit" name"modifier_partenaire">
				Modifier structure
			</button>
			<button class="btn btn-dark mt-4" type="submit" name"activer_partenaire">
				Activier structure
			</button>
			<button class="btn btn-dark mt-4" type="submit" name"voir_partenaire">
				<a href="{{ path ('admin_structures', {'id': structure.id}) }}">
					Voir sur le site
				</a>
			</button>

		{% endfor %}
	{% endblock body %}
