{% extends 'home.html.twig' %}
 {% block css %} <link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}"/>{% endblock  %}
    {% block title %}<title>Admin Tableau de bord</title>{% endblock %}

{% block header %}

 <header class="header">
        <h1>Administrer les structures</h1>  
</header>     
{% endblock header %}

{% block body %}
    <h2> Bonjour {{app.user.email}}</h2>
    <div> <a href="{{ path ("admin_insert_structure") }}"> Creer une structure </a></div>
    
    
    {% for structures in structures %}
    
    <h2>Nom: {{ structures.name }}</h2>  
    <h3>Id: {{ structures.id }}</h3>
        <H4> Login: {{ structures.login }}</h4>
       
        <button type="submit" name"modifier_structure">Modifier structure</button>
        <button type="submit" name"activer_structure">Activier structure</button>
        <button type="submit" name"voir_structure"><a href="{{ path ('structure', {'id': structures.id}) }}" > Voir la structure sur le site </a></button>     
        <button type="submit" name"supprimer_structure"><a href="{{ path ('admin_structures_delete', {'id': structures.id} ) }} " > Supprimer </a></button>
        {% endfor %}
   {% endblock body %}