<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"/>
   {% block css %} <link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}"/>{% endblock css %}
    {% block title %}<title>Tableau de bord</title>{% endblock %}
  </head>
  
  <body id="body">
  
{% block header %} {% endblock header %}
<header classe="header">

  
<nav class="nav">
<h1  class="titre"> Bienvenue </h1>
   
<ul class="menu-items">
<li><a href="{{ path ('home') }}">Acceuil</a></li>
<li><a href="{{ path ('login') }}">Admin</a></li>

</ul>
</nav>
{% block form %} {% endblock form %}
        
        
</header>
  <!-- Dans le body on a les résultats recherche de partenaires-->
  {% block body %}
  <body>
                       <h2> Bonjour {{app.user.email}}</h2>
          
  </body>             
  {% endblock body %} 
        
     
  
            
{% block main %} {% endblock main %}
      <main></main>
          

<!--Dans le block login on a le formulaire d'authentification-->       


{% block footer %}        {% endblock footer %} 
          
         
             

            
              

            
                
          
                 

            
              

              

                

                

                
            
<!--debut sidebar-->
     
        
           

       
          
          
          
            
          
          
          
      
    

    
    
    

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="{{ asset ('assets/javascript/app.js') }}"></script>
  </body>
</html>
 
