{% extends 'base.html.twig' %}
  {% block title %}<title>Interface de gestion des permissions par défaut</title>{% endblock title %}
 {% block css %} <link rel="stylesheet" href="{{ asset ("assets/css/autre.css") }}"/>{% endblock css %}
 
 {% block header %}
 <header id="header">
        
                <h1 id="titre_admin_partenaires">Administrer les partenaires</h1>
           
    </header>     
{% endblock header %}
    

      
 {% block body %}   
 <form>
    <input type="checkbox" name="permissions[]" value="{{ permissions.name }}"></input>
 </form>


    <div id="zone_permissions">
    {% for permissions in permissions %}
    
    <h1 id="titre_permissions">Nom: {{ permissions.name }}</h1>  
    
        <H2 id="activite_permissions"> Activité: {{ permissions.activite }}</h2>
       
        {#<button type="submit" name"modifier_partenaires" id="modifier_partenaires"><a href="{{ path ("admin_partenaire_update")}}"> Modifier partenaire</a></button>#}
        
        
        {% endfor %}

</div>
{% endblock body %}

{% block javascript %}{% endblock javascript %}