{% extends 'base.html.twig' %}
  {% block title %}<title>Interface de gestion des permissions par défaut</title>{% endblock title %}
 {% block css %} <link rel="stylesheet" href="{{ asset ("assets/css/autre.css") }}"/>{% endblock css %}
 
 {% block header %}
 <header id="header">
        
                <h1 id="titre_admin_partenaires">Administrer les partenaires</h1>
           
    </header>     
{% endblock header %}

{% block body %}
 {% for permission in permissions %}
    
    <h1 id="titre_permissions">Nom: {{ permission.name }}</h1>  
    
        <H2 id="activite_permissions"> Activité: {{ permission.activite }}</h2>
       
        {#<button type="submit" name"modifier_partenaires" id="modifier_partenaires"><a href="{{ path ("admin_partenaire_update")}}"> Modifier partenaire</a></button>#}
        
        
        {% endfor %}
{{ form (form)}}

{% endblock body %}

