{% extends 'base.html.twig' %}
{% block css %} <link rel="stylesheet" href="{{ asset ("assets/css/autre.css") }}"/>{% endblock css %}
{% block title %}<title>reset password</title>{% endblock title %}



{% block flash %}
{% for message in app.flashes('danger') %}
{{message}}
{% endfor %}
{% endblock flash %}

{% block body %}
<h1 class="mt-4">Réinitialisation de mot de passe</h1>
<div class="container form-control">
{{ form_start(resetPassWordForm)}}

{{ form_row(resetPassWordForm.email)}}
{{ form_row(resetPassWordForm.Confirmer_email)}}
<button type="submit" class="btn btn-primary">Reinitialiser</button>
{{ form_end(resetPassWordForm)}}
</div>
{% endblock body %}